<div class="container">
  <div class="product-info">
    <div class="texts">
      <h1>product-info</h1>
    </div>

    <div class="card-groups">
      <div
        class="cards flex-center"
        *ngFor="let item of products_data; let i = index"
      >
        <c-card class="flex-center">
          <img
            cCardImg="top"
            class="img"
            [src]="getProductImage(item.products_id)"
            *ngIf="getProductImage(item.products_id); else defaultImage"
          />

          <ng-template #defaultImage>
            <img
              class="img"
              cCardImg="top"
              src="assets/Screenshot 2025-02-10 140154.png"
              alt=""
            />
          </ng-template>

          <c-card-body>
            <h5 cCardTitle>{{ item.products_name }}</h5>
            <div class="info">
              <p>Desc :{{ item.products_desc }}</p>
              <p>Price : {{ item.products_price }}</p>
              <p>Stock : {{ item.stock_quantity }}</p>
            </div>

            <!-- <div class="btn">
              <button (click)="onedit(item.products_id)" [cModalToggle]="editModel.id" cButton style="margin: 0 5px; color:white" color="warning"  >Edit</button>
              <button (click)="delete(item.products_id)" cButton style="margin: 0 5px; color:white" color="danger"  >Delete</button>

            </div> -->
          </c-card-body>
          <c-card-footer>
            <small class="text-medium-emphasis"
              >Last updated {{ convert_time(item.update_date) }}</small
            >
          </c-card-footer>
        </c-card>
      </div>
    </div>
  </div>
</div>
