<div class="container flex-center">
  <div class="card flex-center mg-10">
    <c-avatar
      color="secondary"
      size="xl"
      src="assets/images/avatars/2.jpg"
    ></c-avatar>

    <label for="username" style="margin-top: 40px">username</label>
    <h4 id="username">{{ data.username }}</h4>
    <label for="username" style="margin-top: 10px">username</label>
    <div class="address-box flex-center" style="flex-direction: row">
      <h4 id="username">{{ data.address }}</h4>
      <button cHeaderToggler class="btn">
        <svg cIcon name="cil-home" size="lg"></svg>
        <!-- <svg [cIcon]="icons.cilPlus"></svg> -->
      </button>
    </div>
  </div>

  <div class="order-history">
    <div class="table-block">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order_item; let i = index">
            <td>{{ i + 1 }}</td>
            <td>Order {{ i + 1 }}</td>
            <td>total : {{ item.total_amount | number: '1.0-0' }}</td>
            <td>status : {{ item.status_name }}</td>
            <td>
              <!-- <button
                cButton
                color="primary"
                style="margin: 0 20px"
                (click)="get_order_id(item.order_id)"
                [cModalToggle]="infoModel.id"
              >
                Info
              </button> -->
              <button
                [cModalToggle]="infoModal.id"
                (click)="getOrdItem(item.order_id)"
                cButton
                color="info"
                style="margin: 0 20px"
              >
                info
              </button>

              <button
                (click)="cancel(item.order_id, 3)"
                *ngIf="item.status_name == 'pending'"
                cButton
                color="danger"
                style="margin: 0 20px"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- order info model  -->
<!--
<c-modal #infoModel backdrop="static" id="infoModel" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Order Info</h5>
    <button [cModalToggle]="infoModel.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="cards" *ngFor="let item of product_item; let i = index">
      <div class="img">
        <img
          cCardImg="top"
          class="img"
          [src]="dp_img(item.products_id)"
          *ngIf="dp_img(item.products_id); else defaultImage"
        />

        <ng-template #defaultImage>
          <img
            class="img"
            cCardImg="top"
            src="assets/Screenshot 2025-02-10 140154.png"
            alt=""
          />
        </ng-template>
      </div>
      <div class="text">
        <p>Name : {{ item.products_name }}</p>
        <p> Desc : {{ item.products_desc }}</p>
        <p>Price : {{ item.products_price }}</p>
        <p>Quantity : {{ order(item.products_id) }}</p>

      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="infoModel.id" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal> -->

<c-modal #infoModal alignment="center" id="infoModal">
  <c-modal-header>
    <h5 cModalTitle>order info</h5>
    <button [cModalToggle]="infoModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 10px 0;
      "
      *ngFor="let item of ord_item; let i = index"
    >
      <div class="" style="display: flex; flex-direction: row">
        <div class="left">
          <img
            style="max-width: 4rem; max-height: 6rem"
            [src]="item.img_url"
            alt=""
          />
        </div>

        <div class="" style="margin-left: 20px">
          <p style="font-size: 15px; margin: 0">
            name :{{ item.products_name }}
          </p>
          <p style="font-size: 15px; margin: 0">
            desc :{{ item.products_desc }}
          </p>
          <p style="font-size: 15px; margin: 0">price :{{ item.price | number: '1.0-0' }} /p</p>
        </div>
      </div>

      <div class="right">
        <p>qty : {{ item.quantity }}</p>
        <p>total: {{item.quantity * item.price | number: '1.0-0'}}</p>
      </div>
    </div>


    <div class="totalprices">
      <h4>total price : {{this.ord_total_price | number: '1.0-0'}}</h4>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="infoModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Understood</button>
  </c-modal-footer>
</c-modal>
